.header {
  background: #ffdad5;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 50;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header__link {
  color: var(--gray-800, #424551);
  font-weight: 700;
}
.header__link:hover {
  color: #FF3F3A;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
}
.header__login-svg {
  position: absolute;
  right: 14.3%;
}
.header__register {
  background: transparent;
  color: #424551;
  font-weight: 700;
  cursor: pointer;
  border: none;
  padding-left: 36px;
}
.header__burgerMenu {
  display: none;
}
.header__burgerMenu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__burgerMenu-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger {
  width: 50px;
  height: 45px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0 5px;
}
.header__burger span {
  width: 100%;
  height: 3px;
  background: #1E212C;
  position: relative;
  border-radius: 3px;
}
.header__burger span::before {
  content: "";
  top: -10px;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #1E212C;
  border-radius: 3px;
}
.header__burger span::after {
  content: "";
  bottom: -10px;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #1E212C;
  border-radius: 3px;
}
.header__burger.active span {
  background: transparent;
}
.header__burger.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger.active span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 992px) {
  .header__links, .header__right {
    display: none;
  }
  .header__burgerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -100%;
    left: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    width: 100%;
    background: white;
    padding: 20px 0;
    border-radius: 0 0 20px 20px;
  }
  .header__burgerMenu.active {
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 768px) {
  .header__burgerMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 500px) {
  .header__burgerMenu-links a {
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  .header__burgerMenu-links, .header__burgerMenu-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
}