.team {
  padding: 196px 0;
  background: #F4F5F6;
}
.team__card {
  width: 100%;
}
.team__card-block {
  border-radius: 4px;
  background: var(--secondary, #FFCF2D);
  position: relative;
  height: 340px;
  overflow: hidden;
}
.team__card-block::before {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.9%, rgba(30, 33, 44, 0)), color-stop(55.21%, rgba(30, 33, 44, 0.03)), color-stop(68.73%, rgba(30, 33, 44, 0.33)), color-stop(76.17%, rgba(30, 33, 44, 0.56)), color-stop(83.75%, rgba(30, 33, 44, 0.77)), color-stop(91.49%, rgba(30, 33, 44, 0.92)), to(#1E212C));
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}
.team__card-block:hover::before {
  display: block;
}
.team__card-block:hover .team__card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__card-icons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: none;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  z-index: 3;
}
.team__card-icon svg path {
  fill: rgba(255, 255, 255, 0.3764705882);
}
.team__card-icon:hover svg path {
  fill: #FFFFFF;
}
.team__card-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.team__card-title {
  color: var(--gray-800, #424551);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 16px 0 4px;
}
.team__card-desc {
  color: var(--gray-700, #787A80);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
}
.team__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__next, .team__prev {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.team__next svg path, .team__prev svg path {
  fill: #424551;
}
.team__next:hover, .team__prev:hover {
  background: #FF3F3A;
}
.team__next:hover svg path, .team__prev:hover svg path {
  fill: #fff;
}
.team__swiper {
  margin-top: 60px;
}