.team {
  padding: 196px 0 ;
  background: #F4F5F6;
  &__card {
    width: 100%;
    &-block {
      border-radius: 4px;
      background: var(--secondary, #FFCF2D);
      position: relative;
      height: 340px;
      overflow: hidden;
      &::before {
        display: none;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: linear-gradient(180deg, rgba(30, 33, 44, 0.00) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
      }
      &:hover {
        &::before {
          display: block;
        }
        .team__card-icons {
          display: flex;
        }
      }
    }

    &-icons {
      position: absolute;
      bottom: 20px;
      right: 20px;
      display: none;
      column-gap: 12px;
      z-index: 3;
    }
    &-icon {
      svg path {
        fill: #FFFFFF60;
      }
      &:hover {
        svg path {
          fill: #FFFFFF;
        }
      }

    }
    &-img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &-title {
      color: var(--gray-800, #424551);
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      margin: 16px 0 4px;
    }
    &-desc {
      color: var(--gray-700, #787A80);
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 60px;
    }
  }
  &__btns {
    display: flex;
    column-gap: 12px;
    align-items: center;
  }
  &__next, &__prev {
    svg path {
      fill: #424551;
    }
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background: #FF3F3A;
      svg path {
        fill: #fff;
      }
    }
  }
  &__swiper {
    margin-top: 60px;
  }
}